@import "bootstrap";
@import "font-awesome";

$fancy-font: ALMENDRA;

.display-2{
  font-family: $fancy-font;
}

.fancy{
  font-family: $fancy-font
}

body{
  background-image: url("parchment-paper-texture.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.current_turn{
    background-color: $gray-400;
    @extend .bg-gradient;
    
    
}

.creature{
  transition: all 0.3s;
  @media (min-width: 768px) {
    height: 20vh;
    min-height: 200px;
  }
}

.creature:hover{
  .creature_health{
    display: block;
    width: 100%;
    height: 100%
  }
}

.health_buttons{
  @media (max-width: 767px) {
    width: 50%
  }

  @media (min-width: 768px) {
    height: 50%
  }
}

.creature_health{
  display: none;
  width: 0px;
  transition: all 0.3s;
}


.not_current_turn{
  background-color: $light;
  min-width: 200px;
  min-height: 400px;
}

.verticaltext {
  @media (min-width: 768px) {
    /* Styles for screens larger than 1024px */
    writing-mode: vertical-lr;
    height: 20vh;
  }
  
}

.turn_title {
  @media (max-width: 768px) {
    writing-mode: vertical-lr;
  }

  @media (min-width: 1025px) {
    /* Styles for screens larger than 1024px */
    writing-mode: horizontal-tb;
  }
}

.turn_title{
  margin: 0 !important;
}

.creature_name{
  margin: 0 !important;
}

.drop_down_menu{
  display: none;
}

.link_dropdown:hover{
  .drop_down_menu{
    display: block;
    position: absolute;
    background-color: $light;
  }
}

.nav_link{
  @media (max-width: 768px) {
    display: none;
  }

  @media (min-width: 769px) {
    display: flex;
  }
}